.footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #000;
    border-top: 2px solid #f44336;
    padding-block: 2rem;
    width: 100%;
}

.footer h2 {
    font-size: 1.2rem;
    font-weight: 500;
}